<!DOCTYPE html>
<html lang="{{ .Site.Language }}" dir="{{ .Language.LanguageDirection | default "auto" }}">

<head>
    {{- partial "head.html" . }}
</head>

<body class="
{{- if (or (ne .Kind `page` ) (eq .Layout `archives`) (eq .Layout `search`)) -}}
{{- print "list" -}}
{{- end -}}
{{- if eq $.Site.Params.defaultTheme `dark` -}}
{{- print " dark" }}
{{- end -}}
" id="top">
    {{- partialCached "header.html" . .Page -}}
    <main class="main">
        {{- block "main" . }}{{ end }}
    {{ $somevar := "spam"}}
    <div>
        <form action="javascript:;"  onsubmit="getGeneration(p, n)">
        p: <input type="number" name="p" min="0" max="1" step="0.01" value="0.5"><br>
        q: <input type="number" name="q" min="0" max="1" step="0.01" value="0.5"><br>
        Effective size: <input type="number" name="n" min = "0"m max="1000000" value="10"><br><br>
        <button type="submit">Submit</button>
    </form>
    <table id="output">
      <tr>
        <td>Red Red</td>
        <td id="rROutput"></td>
      </tr>
      <tr>
        <td>Red Yellow</td>
        <td id="rYOutput"></td>
      </tr>
      <tr>
        <td>Yellow Red</td>
        <td id="yROutput"></td>
      </tr>
      <tr>
        <td>Yellow Yellow</td>
        <td id="yYOutput"></td>
      </tr>
    </main>
    </div>
    {{ partialCached "footer.html" . .Layout .Kind (.Param "hideFooter") (.Param "ShowCodeCopyButtons") -}}
</body>

</html>
